.regButtons {
	height: max-content;
	width: 100%;
	display: flex;
	flex-flow: row;
	gap: 1.5rem;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
}

.regButtons button {
	border: none;
	outline: none;
	color: black;
	background-color: #fff;
	border-radius: 11px;
	height: 2rem;
	width: 8rem;
}

@media (max-width: 900px) {
	.regButtons {
		width: 100%;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.regButtons button {
		border: none;
		outline: none;
		color: black;
		background-color: #fff;
		border-radius: 11px;
		height: 2rem;
		width: 6rem;
	}
}
.regButtons button:hover {
	scale: 1.1;
	cursor: pointer;
}
