.sliderOne-container {
	display: flex;
	flex-flow: column;
	gap: 6rem;
}

.sliderOne-slider {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.sliderOne-slider img {
	width: 20rem;
	height: 20rem;
	box-shadow: 0px 0px 42px 5px #906868;
}

.sliderOne-slider img:hover {
	scale: 1.1;
}

.sliderOne-text {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 1rem;
	color: #fff;
}

a {
	text-decoration: none;
	color: white;
}
@media (max-width: 900px) {
	.sliderOne-slider img {
		width: 10rem;
		height: 10rem;
		box-shadow: 0px 0px 62px 14px #906868;
	}
}
